/* playere */
.media-bar{
  width: 100%;
  height: 100px;
  background-color: rgb(40,40,40);
}
.info-box,
.player-box,
.volume-box{
  flex-basis: calc(100% / 3);
}
.info-box{
  margin: 20px 0;
}
.info-box img{
  height: 100%;
  margin-right: 15px;
  margin-left: 10px;
}
.info-box a{
  margin-bottom: 0;
}
.info-box i{
  color: white;
  opacity: 0.6;
}
.info-box .subtitle{
  color: white;
  opacity: 0.6;
}
.info-box .subtitle:hover{
  opacity: 1;
  text-decoration: underline;
}
.info-box i{
  margin-left: 20px;
}
.info-box i:hover{
  opacity: 1;
}
.footer-sb{
  margin-bottom: 10px;
}
.player-box i{
  color: white;
  opacity: 0.6;
  font-size: 20px;
  margin-bottom: 20px;
}
.player-box i:nth-child(3){
  font-size: 30px;
}
.player-box i:nth-child(3):hover{
  transform: scale(1.2);
}
.player-box i:hover{
  opacity: 1;
}
.song-bar{
  color: white;
  width: 100%;
}
.song-bar span{
  margin: 0 30px;
  font-size: 13px;
}
.bar-white{
  width: 10%;
  height: 6px;
  border-radius: 8px;
  background-color: white;
}
.bar-grey{
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background-color: #a0a0a0;
}
.trak-bar{
  width: 100%;
  opacity: 0.6;
}
.volume-box .trak-bar{
  width: 30%;
  opacity: 0.6;
}
.trak-bar:hover{
  opacity: 1;
}
.volume-box .bar-white{
  width: 50%;
}
.volume-box .bar-grey{
  margin-right: 10px;
}
.volume-box i{
  color: white;
  opacity: 0.6;
  margin-right: 15px;
}
.volume-box i:hover{
  opacity: 1;
}