*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Golos Text', sans-serif;
}
.flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.space-between{
  justify-content: space-between;
}
.column{
  flex-direction: column;
}
.viewport{
  height: 100vh;
}
.main-box{
  height: calc(100% - 100px);
  width: 100%;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}